.slot {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.slotReels {
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.reel {
  height: 120px;
  width: 120px;
  border: 1px solid black;
  border-radius: 12px;
  margin-right: 4px;
}

.reelIcon {
  min-width: calc(72px * 1.5);
  font-size: 72px;
  line-height: 1.414;
}

.reelIcon1.animate { animation: topToBottom ease 150ms infinite; }
.reelIcon2.animate { animation: topToBottom ease 150ms 50ms infinite; }
.reelIcon3.animate { animation: topToBottom ease 150ms 100ms infinite; }

.reelIcon1.stop { animation: stopAnimation 250ms ease; }
.reelIcon2.stop { animation: stopAnimation 500ms ease; }
.reelIcon3.stop { animation: stopAnimation 750ms ease; }

@keyframes topToBottom {
  0% { margin-top: -100%; }
  100% { margin-top: 100%; }
}

@keyframes stopAnimation {
  0% { margin-top: -100%; }
  100% { margin-top: 0%; }
}
